{
    "value-descriptors": [
        {
            "values": [
                {"value": "default"},
                {"value": "null"}
            ]
        },
        {
            "types": [
                {"type": "boolean"},
                {"type": "byte"},
                {"type": "character"},
                {"type": "date"},
                {"type": "double"},
                {"type": "float"},
                {"type": "integer"},
                {"type": "long"},
                {"type": "number"},
                {"type": "short"},
                {"type": "string"}
            ]
        },
        {
            "formats": [
                {"format": "UNIQUE"},
                {"format": "DATE[YYYY-MM-DD]"},
                {"format": "DATE[MM/DD/YYYY]"},
                {"format": "DATETIME[YYYY-MM-DD:hh-mm-ss]"},
                {"format": "DATEMINUS[END_DATE-DAYS(<number of days>)]"},
                {"format": "DATEPLUS[START_DATE+DAYS(<number of days>)]"},
                {"format": "RANDATE[START_DATE-END_DATE]"},
                {"format": "PRECISION[<left length>.<right length>]"},
                {"format": "RANDNUMBER[<low num>-<high num>]"},
                {"format": "RANDLETTER[0-25]"},
                {"format": "RANDID[RANDCHAR(A-Z)RANDNUM(LEN(6))]"},
                {"format": "RANDFULLNAME[FIRST-MIDDLE-LAST]"},
                {"format": "RANDFULLNAME[FIRST-OPT(MIDDLE)-LAST]"},
                {"format": "RANDFULLNAME[LAST-FIRST-MIDDLE]"},
                {"format": "RANDFULLNAME[LAST-FIRST-OPT(MIDDLE)]"}
            ]
        }
    ]
}


