UNIQUE
DATE[YYYY-MM-DD]
DATE[MM/DD/YYYY]
DATETIME[YYYY-MM-DD:hh-mm-ss]
DATEMINUS[END_DATE-DAYS(<number of days>)]
DATEPLUS[START_DATE+DAYS(<number of days>)]
RANDATE[START_DATE-END_DATE]
PRECISION[<left length>.<right length>]
RANDNUMBER[<low num>-<high num>]
RANDLETTER[0-25]
RANDID[RANDCHAR(A-Z)RANDNUM(LEN(6))]
RANDFULLNAME[FIRST-MIDDLE-LAST]
RANDFULLNAME[FIRST-OPT(MIDDLE)-LAST]
RANDFULLNAME[LAST-FIRST-MIDDLE]
RANDFULLNAME[LAST-FIRST-OPT(MIDDLE)]